body {
  /* background-color: black; */
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.w_100 {
  width: 100% !important;
}
@media (min-width:992px) {
  .top-navbar {
    box-shadow: 0 0 50px gray !important;
  }
}
@media (min-width:600px){
#top-actions-section{
    display: flex !important;
    align-items: center !important;
}

}

/* .users_list_item .users_list_arrow_icon{
  transition: all 500ms ease;
} */
.users_list_item.active .users_list_arrow_icon{
  transform: rotate(180deg);
}

.users_list_item.active , .users_list_item.active .collapsible-header{
  background-color:darkgrey;
}

table.highlight > tbody > tr:hover {
  background-color: #90caf9 !important;
}