body {
  /* background-color: black; */
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.w_100 {
  width: 100% !important;
}
@media (min-width:992px) {
  .top-navbar {
    box-shadow: 0 0 50px gray !important;
  }
}
@media (min-width:600px){
#top-actions-section{
    display: flex !important;
    align-items: center !important;
}

}
